.game {
  text-align: center;
  margin-left: 500px;
  margin-bottom: 100px;
}

.choices button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-top: 50px;
}

.choices button:hover {
  background-color: pink;
  border-radius: 5px;
}

.result {
  margin-top: 100px;
  font-size: large;
  font-weight: 600;
}
